/* HEADER-CSS */
header{
  background-color: green;
  height: 4em;
  margin: -1.5em -1em 0em -1em;
}

nav{
  font-size: 20px;
}
nav a{
  text-decoration: none;
}

nav > ul{
  transform: translateX(300px);
}

nav > ul > li:hover{
  background-color: limegreen;
  transition-duration: 0.4s;
}

#call-btn{
  transform: translateX(500px);
  margin-top: 0.7em;
  font-size: 20px;
  padding: 0em 1em 0em 1em;
  height: 40px;
  width: 100px;
}

#call-btn:hover{
  background-color: whitesmoke;
  transition-duration: 0.4s;
}

ul > li{
  list-style: none;
  text-align: center;
  width: 5em;
  float:left;
  padding: 1em 1em 1em 1em;
}

#drop-menu > li{
  float:left;
  padding: 1em 1em 1em 1em;
  list-style: none;

}

#drop-item:hover #drop-menu{
  display: block;
}

#drop-menu{
  display: none;
  position: absolute;
  background-color: limegreen;
  transform: translateX(-20px);
  width: 5em;
}

#drop-menu > li{
  float:none;
  padding: 1.2em 0em 0.5em em;
  text-align: center;
  transform: translateX(-40px);
}

#drop-menu > li:hover{
  background-color: lightgreen;
  transition-duration: 0.4s;
}
/* HEADER-CSS */

/* BODY-CSS */
body{
  /* background-image: url('image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.course-cards-box{
  display:flex;
  border: 1px solid red;
  width: 750px;
  position: absolute;
  transform: translateX(70%) translateY(75%);
  z-index: -1;
  align-items: bottom;
}
.course-card{
  width: 150px;
  height: 200px;
  text-align:center;
  display:inline-block;
  border: 1px solid sandybrown;
  margin: 0.2em 0.2em 0.2em 0.2em;
}

.card-image{
  width: 130px;
  height: 100px;
  margin: 0.2em 0.2em 0.2em 0.35em;
}
img{
  width: 100%;
  height: 100%;
  object-fit:fill
}
.course-card > h2{
  font-size: 18px;
  padding: 0em 0.05em 0em 0.05em;
}

/*FOOTER-CSS */
footer {
  transform: translateY(647%);
  width: 100vw;
  background-color: green;
  font-size: 14px;
}

.container {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  text-align: center;
}

.footer-content h3 {
  margin-bottom: 10px;
}

.footer-content p {
  color: #555;
}

/* BODY-CSS */